<div class="view">
  <input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}>
  <label>{{name}}</label>
  <button class="destroy"></button>
</div>

<input type="text" class="edit" value="{{name}}">

