<!DOCTYPE html>
<html>
<head></head>
<body>
  <section class="todoapp">
    <cat-header></cat-header>
    <cat-main></cat-main>
  </section>

  <cat-footer></cat-footer>
  <script src="/bundle.js"></script>
</body>
</html>
